$base-color: #2672FF;
$bg-red: #F4333C;
$bg-gray: #F5F5F9;
$bg-night-head: #1C2127;
$bg-night-content: #101419;
$color-main: #303133;
$color-normal: #606266;
$color-info: #909399;
$color-placeholder: #C0C4CC;

$border-main: #DCDFE6;
$border-normal: #E4E7ED;
$border-info: #EBEEF5;
$border-placeholder: #F2F6FC;

